/* General Reset */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Header Styling */
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #333;
    color: #fff;
    padding: 20px 30px;
    margin-right: 50px;
    text-align: center;
  }
  
  header h1 {
    margin-bottom: 10px;
  }

 

  
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Section Styling */
  section {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;                 
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
  }
  

  #About-Me {
    margin-top: 100px;
    margin-left: 800px;
    text-align: center;
    align-items: center;
    text-align: center;
    padding-bottom: 500px;
    background: #fff;
  }

  #projects {
    align-items: baseline;
    text-align: center;
    padding-bottom: 400px;
  }
  
  /* Project Entries */
  .project {
    margin-bottom: 15px;
  }
  
  .project h3 {
    margin-bottom: 5px;
  }
  